---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
  
    <span class="post-date">{{ post.date | date_to_string }}</span>
  
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {{ post.excerpt }}
  </div>
  
  <div class="post-readmore">
    <a href="{{ post.url }}">Read More&nbsp;<span class="fa fa-level-up"></span></a>
  </div>
  <div class="post-separator"></div>
 
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ '/page' | relative_url }}{{paginator.next_page}}">Previous&emsp;<span class="fa fa-chevron-circle-right"></span></a>
  {% else %}
    <span class="pagination-item older">Previous&emsp;<span class="fa fa-chevron-circle-right"></span></span>
  {% endif %}
  <!-- <span class="pagination-item">Nothing here</span> -->
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | relative_url }}"><span class="fa fa-chevron-circle-left"></span>&emsp;Next</a>
    {% else %}
      <a class="pagination-item newer" href="{{ '/page' | relative_url }}{{paginator.previous_page}}"><span class="fa fa-chevron-circle-left"></span>&emsp;Next</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer" href="{{ '/' | relative_url }}"><span class="fa fa-chevron-circle-left"></span>&emsp;Next</span>
  {% endif %}
</div>
