<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
		<img class="masthead-logo" src="/public/img/logo_64x64.png" alt="logo">	
		
		<h3 class="masthead-title">
		  <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <!-- <small>{{ site.tagline }}</small> -->
        </h3>
		
	  </div>

	  <nav role="navigation" class="header-nav">
		<span class="navigation-container">
		    {% for page in site.pages_list %}
		    <span class="navigation-item"><a href="{{ page[1]  }}">{{ page[0] }}</a></span>
		    {% endfor %}
		</span>
	  </nav>
	  
      {{ content }}

      <div class="footer">
		<p class="footer-inside-left">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </div>
    </div>
	
  </body>
</html>
