<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
		<img class="masthead-logo" src="public/img/logo_64x64.png" alt="logo">		
		<h3 class="masthead-title">
		  <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
		  <span class="footer-inside-left"><a href="/atom.xml" >RSS</a></span>
		  <span class="footer-inside-right">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</span>
        </p>
      </div>
    </div>

  </body>
</html>
